:root {
    --main-bg-color: coral;
    --main-txt-color: blue; 
    --main-padding: 15px; 
    
    --main-mcnuttblue-color: #15a3d3;
    --main-googleblue-color:#033849;
    --main-darkgrey-color: #474747;
    --main-mediumgrey-color: #5b5b5b;
    --main-devilgrey-color:#666;
    --main-sevengrey-color:#777;
    --main-eightgrey-color:#888;
    --main-ninegrey-color:#aaaaaa;
    --main-btwogrey-color:#b2b2b2;
    --syntax_normal: #1b1e23;
    --syntax_diff: #24292e;
    --syntax_keyword: #c30771;
    --syntax_atom: #10a778;
    --syntax_string: #008ec4;
    --syntax_error: #ffbedc;
    --syntax_known_variable: #005f87;
    --syntax_key: #6636b4;
}
